{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	{{ form.media }}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update attribute | Sistem Informasi Sarana dan Prasarana Wilayah</title>

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<script src="{% static 'js/mapwidget.js' %}"></script>
</head>


<body>
{% include 'snippets/navbar.html' %}

{% if user.is_authenticated %}	
<div class="container jumbotron mt-5">
	<h2 class="display-7">Update {{object.name}} Attribute</h2>
	<hr class="my-3">

	<div class="form-group">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="field">
				<label class="label">Klasifikasi Jalan</label>
				<div class="control">
					{% render_field form.kelas_jln class="form-control" placeholder="Insert Klasifikasi Jalan" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Panjang Jalan (km)</label>
				<div class="control">
					{% render_field form.panjang class="form-control" placeholder="Insert Panjang Jalan" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Nomor Ruas</label>
				<div class="control">
					{% render_field form.no_ruas class="form-control" placeholder="Insert Nomor Ruas" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Nama Jalan</label>
				<div class="control">
					{% render_field form.nama_jalan class="form-control" placeholder="Insert Nama Jalan" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Tipe Permukaan Jalan</label>
				<div class="control">
					{% render_field form.tipe_perm class="form-control" placeholder="Insert Tipe Permukaan Jalan" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Kondisi Jalan</label>
				<div class="control">
					{% render_field form.kond_jalan class="form-control" placeholder="Insert Kondisi Jalan" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Lebar Jalan (m)</label>
				<div class="control">
					{% render_field form.lebar class="form-control" placeholder="Insert Lebar Jalan" %}
				</div>
			</div>
			<br>
			<button style="margin-right: 20px;" type="submit" class="btn btn-success">Save</button>
			<a href="{% url 'list_jalan' %}">
                <input style="width: 50px;" class="btn btn-danger" type="button" value="No">
            </a>
		</form>
	</div>
</div>
{% else %}
<div class="container jumbotron mt-5">
    <h2 class="display-4">You must login first!!!</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
</div>
{% endif %}

<script src="{% static 'vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'vendor/popper/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
