{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	{{ form.media }}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update attribute | Sistem Informasi Sarana dan Prasarana Wilayah</title>

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<script src="{% static 'js/mapwidget.js' %}"></script>
</head>


<body>
{% include 'snippets/navbar.html' %}

{% if user.is_authenticated %}	
<div class="container jumbotron mt-5">
	<h2 class="display-7">Update {{object.name}} Attribute</h2>
	<hr class="my-3">

	<div class="form-group">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="field">
				<label class="label">Surveyor</label>
				<div class="control">
					{% render_field form.surveyor class="form-control" placeholder="Insert Surveyor" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Tanggal Survei</label>
				<div class="control">
					{% render_field form.waktu_surv class="form-control" placeholder="Insert Tanggal Survei" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Nama</label>
				<div class="control">
					{% render_field form.nama class="form-control" placeholder="Insert Nama" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Alamat</label>
				<div class="control">
					{% render_field form.alamat class="form-control" placeholder="Insert Alamat" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Jenjang</label>
				<div class="control">
					{% render_field form.jenjang class="form-control" placeholder="Insert Jenjang" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Jumlah Kelas</label>
				<div class="control">
					{% render_field form.jml_kelas class="form-control" placeholder="Insert Jumlah Kelas" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Jumlah Guru</label>
				<div class="control">
					{% render_field form.jml_guru class="form-control" placeholder="Insert Jumlah Guru" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Jumlah Siswa</label>
				<div class="control">
					{% render_field form.jml_siswa class="form-control" placeholder="Insert Jumlah Siswa" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Fasilitas</label>
				<div class="control">
					{% render_field form.fasilitas class="form-control" placeholder="Insert Fasilitas" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Tahun Pembangunan</label>
				<div class="control">
					{% render_field form.tahun class="form-control" placeholder="Insert Tahun Pembangunan" %}
				</div>
			</div>
			<br>
			<div class="field">
				<label class="label">Anggaran Pembangunan</label>
				<div class="control">
					{% render_field form.anggaran class="form-control" placeholder="Insert Anggaran Pembangunan" %}
				</div>
			</div>
			<br>
			<button style="margin-right: 20px;" type="submit" class="btn btn-success">Save</button>
			<a href="{% url 'list_pendidikan' %}">
                <input style="width: 50px;" class="btn btn-danger" type="button" value="No">
            </a>
		</form>
	</div>
</div>
{% else %}
<div class="container jumbotron mt-5">
    <h2 class="display-4">You must login first!!!</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
</div>
{% endif %}

<script src="{% static 'vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'vendor/popper/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
