{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block Title %}
    Sign In -  Sistem Informasi Sarana dan Prasarana Wilayah Kabupaten Sidrap
{% endblock Title %}

{% block Contents %}
<div class="container jumbotron content-section mt-5"  style="background-color:rgb(156, 204, 204);">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">SIGN IN</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info" type="submit">Sign In</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small>
            Need an Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </small>
    </div>
</div>        
{% endblock Contents %}